*{
    font-family: 'Ruda', sans-serif;
    margin: 0;
    padding-left: 0;
    outline: 0;
    box-sizing: border-box;
}

header{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-image {
    width: 444px;
    height: 410px;
    margin-right: 130px; 
}

header .header-block {
    color: #407BFF;
    font-weight: bold;
    font-size: 40px;
    
    border-color: #407BFF;
    border-width: 3px;
    border-style: solid;
    width: 532px;
    height: 180px;

    margin-left: 100px; 
    padding: 10px;

    display: column;
    align-items: center;
    text-align: center;
}

.quoteMandela {
    background-color: #407BFF;
    width: 550px;
    margin: 90px auto auto auto;
    padding: 10px 10px 10px 10px;
}

.quoteMandela h1 {
    font-size: 22px;
    color: #FAFAFA;
    font-weight: normal;

    text-align: center;
}

.quoteMandela p {
    font-size: 18px;
    color:#FAFAFA;
    font-weight: normal;

    padding-top: 10px;

    margin-right: 15px;
    text-align: right;
}


.about {
    background-color: #407BFF;
    margin: 90px 45px 110px 45px;
}

.about h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    
    padding-top: 20px;
}

.about .blocks-layout {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 18px 20px 20px 20px;

    margin-bottom: 40px;
}

.about .blocks-layout .block {
    background-color: #FAFAFA;
    color: #407BFF;
    text-align: center;

    padding: 30px 10px 10px 10px;
    margin: 0 10px 0 10px;

    width: 391px;
    height: 228px;
}

.about .blocks-layout .block p {
    font-size: 23px;
}

.about hr {
    border: 1px solid #FAFAFA;
    width: 1268px;
    margin: auto;
}

.about .how-to {
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about .how-to img {
    width: 531px;
    height: 426px;
}

.about .tips  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 35px auto 50px auto;
    padding-bottom: 70px;
}

.about .tips .tip h1{
    font-size: 45px;
    font-weight: bold;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about .tips .tip .tip-block {
    background-color: #FAFAFA;

    width: 440px;
    height: 260px;

    margin: auto;

    padding: 50px 50px 50px 50px;
}

.about .tips .tip .tip-block p {
    font-size: 23px;
    color: #407BFF;
}


.be-resilient {
    margin-top: 50px;

    display: flex;
    justify-content: center;
}

.be-resilient .reasons-to-be {
    padding-top: 45px;
    margin-right: 150px;
}

.be-resilient .reasons-to-be h1 {
    font-size: 60px;
    color: #407BFF;
}

.be-resilient .reasons-to-be li {
    list-style-type: none;

    font-size: 23px;
    color: #407BFF;
}

.be-resilient img {
    width: 541px;
    height: 426px;
}

.final-quote {
    background-color: #407BFF;
    width: 550px;
    margin: 90px auto auto auto;
    padding: 10px 10px 10px 10px;
}

.final-quote h1 {
    font-size: 22px;
    color: #FAFAFA;
    font-weight: normal;

    text-align: center;
}

.final-quote p {
    font-size: 18px;
    color:#FAFAFA;
    font-weight: normal;

    padding-top: 10px;

    margin-right: 15px;
    text-align: right;
}

.footer {
    background-color: #407BFF;
    color: #FAFAFA;

    margin-top: 80px;

    padding: 20px 20px 20px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p {
    font-size: 20px;
}